FLASK_CONFIG=development
SECRET_KEY=dev-secret-key
DATABASE_URL=sqlite:///data/data.db
BLUELOG_ADMIN_USERNAME=admin
BLUELOG_ADMIN_PASSWORD=helloflask
MAIL_SERVER=
MAIL_USERNAME=
MAIL_PASSWORD=
BLUELOG_EMAIL=
